/* -------------------
/  ------- LEGACY
/* ------------------- 
/*/
.rt-collapses-wrapper .rt-collapses {
  overflow: hidden; }

.rt-collapses-wrapper .rt-collapse {
  width: 100%;
  color: #000;
  overflow: hidden; }
  .rt-collapses-wrapper .rt-collapse .rt-collapse-label {
    background: #ccc;
    cursor: pointer; }
    .rt-collapses-wrapper .rt-collapse .rt-collapse-label svg {
      width: 1em;
      height: 1em;
      margin-left: auto;
      transition: all .35s; }
  .rt-collapses-wrapper .rt-collapse .rt-collapse-content {
    max-height: 0;
    padding: 0 1em;
    transition: all .35s; }
  .rt-collapses-wrapper .rt-collapse .rt-collapse-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer; }

.rt-collapses-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.rt-collapses-wrapper input[type="checkbox"]:checked + .rt-collapse-label svg {
  transform: rotate(90deg); }

.rt-collapses-wrapper input[type="checkbox"]:checked ~ .rt-collapse-content {
  max-height: 100vh;
  padding: 1em;
  border: 1px solid #e5e5e5; }

.list .product-item > div {
  grid-template-columns: 25% 75%;
  width: 100%;
  display: grid;
  padding-bottom: 10px;
  grid-template-rows: auto;
  grid-template-areas: "image info" "image option"; }

.list .product-item .product-pull-up .product-item__top {
  grid-area: image; }

.list .product-item .product-item-content {
  grid-area: info;
  justify-content: start !important;
  align-items: start !important;
  padding-left: 30px; }

.list .product-item .product__item-hover {
  position: static;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
  grid-area: option;
  padding-left: 30px; }

.product-thumbnails-bottom .thumbnails .slick-arrow {
  bottom: -20px; }

.templateCollection .dots .item-images-wrapper, .templateSearch .dots .item-images-wrapper {
  top: 10px;
  right: 10px; }

.border-none {
  border: none !important; }

@media (min-width: 768px) {
  .list .product-item > div {
    grid-template-columns: 25% auto 1fr;
    width: 100%;
    display: grid;
    padding-bottom: 10px;
    grid-template-rows: auto;
    grid-template-areas: "image info optiondesc" "image option optiondesc"; }
  .list .product-item .short-description {
    display: block !important;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    grid-area: optiondesc; } }

/* -------------------
/  ------- NAVIGATION
/* ------------------- 
/*/
ul.megamenu.modern > li.with-sub-menu > a strong:after {
  content: '\f107';
  font-family: "fontawesome";
  color: #ff5000;
  display: inline-block;
  margin-left: 15px;
  background: transparent; }

.tmenu--wrap .tmenu_nav {
  background: #414141; }
  .tmenu--wrap .tmenu_nav a {
    color: white !important;
    font-weight: 400;
    font-family: "Montserrat"; }
  .tmenu--wrap .tmenu_nav svg {
    fill: #ff5000; }

.mobile-nav-bar {
  background: #4e4e4e; }

.mobile-nav-logo {
  background: #ff5000 !important;
  margin-bottom: -30px; }

/* -------------------
/  ------- Buttons
/* ------------------- 
/*/
.btn-squared {
  border-radius: 50px !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  transition: 1s all; }
  .btn-squared:hover {
    background: white;
    color: #ff5000; }

/* -------------------
/  ------- LATEST ESCOOTERS
/* ------------------- 
/*/
#creative-builder-160571039686e21dc6 .bgimage-center-no-repeat {
  background-size: 95% !important;
  background-color: transparent !important; }

/* -------------------
/  ------- GENERAL
/* ------------------- 
/*/
.h3:hover {
  transform: scale(1, 1) !important; }

/* -------------------
/  ------- UNDER MENU
/* ------------------- 
/*/
#creative-builder-16064765057b2a016c {
  height: 50px; }
  #creative-builder-16064765057b2a016c .h3 {
    font-size: 13px !important; }

/* -------------------
/  ------- HOME PAGE HERO
/* ------------------- 
/*/
@media (max-width: 800px) {
  #creative-builder-1600746143555 .bgimage-center-no-repeat {
    background-size: contain !important; } }

#creative-builder-1600746143555 .splide__arrow svg {
  color: white;
  fill: white; }

#creative-builder-1600746143555 .splide__arrow {
  background: #ff5000 !important;
  opacity: 1;
  -webkit-border-top-right-radius: 300px;
  -webkit-border-bottom-right-radius: 300px;
  -moz-border-radius-topright: 300px;
  -moz-border-radius-bottomright: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  height: 60px;
  transition: 1s all; }

#creative-builder-1600746143555 .splide__arrow--prev {
  left: 0;
  -webkit-border-top-right-radius: 300px;
  -webkit-border-bottom-right-radius: 300px;
  -moz-border-radius-topright: 300px;
  -moz-border-radius-bottomright: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px; }

#creative-builder-1600746143555 .splide__arrow--next {
  right: 0;
  -webkit-border-top-left-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -moz-border-radius-bottomleft: 300px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 00px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 00px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

/* -------------------
/  ------- TABS
/* ------------------- 
/*/
.rt-tabs {
  margin-top: 40px; }
  .rt-tabs .rt-tab {
    margin-right: 20px;
    height: 40px;
    z-index: 99999;
    margin-left: 3px; }
    .rt-tabs .rt-tab .h3 {
      color: #4e4e4e;
      transition: 1s all;
      font-size: 22px; }
      .rt-tabs .rt-tab .h3 .border-bottom {
        border-color: #ff5000;
        border-width: 3px; }
      .rt-tabs .rt-tab .h3:hover {
        color: #ff5000;
        opacity: 1; }

/* -------------------
/  ------- SUBSCRIBE BANNER
/* ------------------- 
/*/
#creative-builder-1606382769c0f15cca .h3 {
  margin-top: 30px; }

#creative-builder-1606382769c0f15cca .b-caption {
  line-height: 22px !important;
  white-space: pre-line;
  text-align: left; }

.icWczR.icWczR {
  padding: 0 0 15px 0 !important; }

.cOsUod.cOsUod {
  padding: 0 0 15px 0 !important; }

/* -------------------
/  ------- PRODUCT CARDS
/* ------------------- 
/*/
.product-item__top {
  padding: 0 20px; }

.product-pull-up .product-item__shadow {
  display: none; }

.product-item-advanced-wrapper {
  background-color: #f6f6f6;
  -webkit-border-radius: 50px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 50px;
  -moz-border-radius-topleft: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  margin-top: 20px;
  transition: 1s all;
  margin-bottom: 20px;
  border: white 3px solid; }
  .product-item-advanced-wrapper:hover {
    box-shadow: none;
    -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 0px;
    -moz-border-radius-topleft: 0;
    border-radius: 0px;
    border-top-left-radius: 0;
    margin-top: 20px;
    border: #ff5000 3px solid; }
  .product-item-advanced-wrapper .name {
    padding: 20px 5px 0 5px; }
    .product-item-advanced-wrapper .name a {
      color: #717171 !important;
      font-weight: 900;
      font-family: 'Montserrat';
      font-size: 24px !important;
      transition: 1s all; }
      .product-item-advanced-wrapper .name a:hover {
        color: #ff5000 !important; }
    .product-item-advanced-wrapper .name-small {
      padding: 0 25px; }
      .product-item-advanced-wrapper .name-small a {
        color: #717171 !important;
        font-weight: 700;
        font-family: 'Montserrat';
        font-size: 16px !important;
        transition: 1s all; }
        .product-item-advanced-wrapper .name-small a:hover {
          color: #ff5000 !important; }
  .product-item-advanced-wrapper form {
    width: auto;
    float: right; }
  .product-item-advanced-wrapper .short-description {
    padding: 0 25px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    position: relative; }
  .product-item-advanced-wrapper button {
    background: #717171;
    float: right;
    border-radius: 100px;
    transition: 1s all; }
    .product-item-advanced-wrapper button:hover {
      background: #ff5000; }
  .product-item-advanced-wrapper .price {
    padding: 0 25px; }
  .product-item-advanced-wrapper .price-new {
    padding: 0 !important;
    margin-top: 4px; }
  .product-item-advanced-wrapper .swatch_color_advanced {
    display: none !important; }

.dots .item-images-wrapper {
  display: none; }

.product .image[class*=aspect-ratio-].aspect-ratio-crop .main-images-wrapper img {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0 !important; }

.product-item-advanced-wrapper form {
  width: auto;
  float: right;
  z-index: 999999999;
  position: absolute;
  right: 20px;
  bottom: 20px; }
  .product-item-advanced-wrapper form input {
    z-index: 999999999;
    cursor: pointer; }
    .product-item-advanced-wrapper form input:hover {
      background: #ff5000 !important; }

/* -------------------
/  ------- PRODUCT PAGE
/* ------------------- 
/*/
#sticky-info-product-template {
  background: #ff5000; }
  #sticky-info-product-template h1 {
    font-size: 15px;
    color: white; }
  #sticky-info-product-template .sticky-button {
    border-radius: 100px;
    background: white !important;
    color: #ff5000;
    transform: 1s all;
    transition: 1s all; }
    #sticky-info-product-template .sticky-button:hover {
      border-radius: 0;
      background: #4e4e4e !important; }

.prod-recommendations {
  background: #4e4e4e; }
  .prod-recommendations .h3 {
    color: #ff5000;
    margin: 30px auto;
    text-align: center; }

.prod-viewed {
  background: #f6f6f6; }
  .prod-viewed .custom-bgcolor {
    background-color: transparent !important; }
  .prod-viewed .h3 {
    color: #ff5000;
    margin: 30px auto;
    text-align: center; }

.custom-prod .name {
  color: #4e4e4e; }

.custom-prod .short-description {
  color: #666;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0; }

.custom-prod .product__policies {
  color: #ccc;
  margin-top: -30px;
  font-size: 11px; }

.custom-prod .vendor {
  color: #666;
  font-size: 12px;
  display: none !important; }

.custom-prod .price-new {
  padding: 10px 0 !important;
  font-size: 34px !important;
  color: #ff5000 !important;
  font-weight: 700 !important; }

.custom-prod .quantity-wrapper {
  display: none !important; }

.custom-prod .prod-submit {
  background: #ff5000 !important;
  color: white !important;
  border-radius: 100px;
  float: left;
  font-size: 15px; }

.custom-prod .meta-icons {
  position: relative;
  padding: 12px 0 !important;
  margin: 5px 0;
  border-bottom: 1px solid #f6f6f6; }
  .custom-prod .meta-icons .icon {
    width: 25%;
    float: left;
    height: 100%;
    background-size: contain !important;
    min-height: 35px; }
  .custom-prod .meta-icons .text {
    width: 73%;
    float: right; }
  .custom-prod .meta-icons .title {
    font-size: 14px;
    color: #4e4e4e !important;
    font-weight: bold; }
  .custom-prod .meta-icons .para {
    color: #666;
    font-size: 12px;
    font-weight: bold; }

/* -------------------
/  ------- COLLECTIONS PAGE
/* ------------------- 
/*/
.product-filter .d-none {
  display: none !important; }

.filter-wrap {
  display: flex; }
  .filter-wrap .filter {
    flex: 1; }
    .filter-wrap .filter select {
      background: transparent;
      padding: 10px;
      color: #4e4e4e;
      border: 2px #4e4e4e solid;
      border-radius: 100px;
      width: 90%; }

.list-options {
  padding-left: 0 !important;
  margin-top: 30px;
  float: right;
  text-align: right;
  width: 300px; }
  .list-options select {
    background: transparent;
    padding: 10px;
    color: #4e4e4e !important;
    border: 2px #4e4e4e solid;
    border-radius: 100px;
    width: 90% !important; }

.collection-hero h2 {
  font-size: 20px; }

.collection-hero img {
  max-width: 100%; }

.full {
  width: 100%;
  padding: 30px 0; }
  .full.bg-lgrey {
    background: #f6f6f6; }

.product-filter .list-options .sort:after, .product-filter .list-options .limit:after {
  display: block !important;
  position: absolute !important;
  right: 20px !important;
  top: 10px !important; }

.toolbar-right {
  width: 100%; }
  .toolbar-right .advanced-sortby {
    float: right;
    width: 48%; }
    .toolbar-right .advanced-sortby.smaller {
      width: 25%; }

/* -------------------
/  ------- INSTAGRAM BANNER
/* ------------------- 
/*/
#cb-item-1606398862319bd440-0 {
  padding-top: 30px;
  padding-bottom: 30px; }
  #cb-item-1606398862319bd440-0 .splide__arrow {
    background: transparent !important;
    font-size: 30px !important;
    color: white !important;
    fill: white !important; }
  #cb-item-1606398862319bd440-0 .splide__slide {
    text-align: center; }
    #cb-item-1606398862319bd440-0 .splide__slide img {
      vertical-align: bottom;
      width: 60% !important;
      min-width: 60% !important;
      margin: 0 auto; }

#cb-item-1606398862319bd440-4 .banner-content-wrapper {
  outline: 0 !important;
  text-align: center !important; }

/* -------------------
/  ------- 13point banner
/* ------------------- 
/*/
#cb-item-16062770415912ad43-0 .banner-content-wrapper .banner-texting.text-align-center {
  width: 100%; }

#cb-item-16062770415912ad43-0 .b-caption {
  line-height: 22px !important;
  white-space: pre-line;
  text-align: center; }

.creative-builder .cb-item.banner .banner-content-wrapper[data-noimage] {
  outline: 0 !important; }

/* -------------------
/  ------- SHOP BY BRAND
/* ------------------- 
/*/
#creative-builder-16057107050148bb34 .cb-body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0; }
  @media (max-width: 800px) {
    #creative-builder-16057107050148bb34 .cb-body-wrapper {
      flex-direction: column; } }
  #creative-builder-16057107050148bb34 .cb-body-wrapper .cb-item {
    flex: 1; }
    #creative-builder-16057107050148bb34 .cb-body-wrapper .cb-item:first-child {
      font-weight: bold; }
    #creative-builder-16057107050148bb34 .cb-body-wrapper .cb-item img {
      cursor: pointer;
      transition: 1s all;
      opacity: 1;
      min-width: 0% !important;
      width: auto !important;
      max-height: 60px !important; }
      #creative-builder-16057107050148bb34 .cb-body-wrapper .cb-item img:hover {
        opacity: 0.7; }

/* -------------------
/  ------- VIDEO SECTION
/* ------------------- 
/*/
#cb-item-16055650677fd5e170-0 {
  border: 20px solid #ff5000; }

#global__symbols--solid--play {
  fill: #ff5000;
  color: #ff5000; }

/* -------------------
/  ------- REVIEW SLIDER
/* ------------------- 
/*/
#creative-builder-16057909505dfd66e5 .splide__arrow svg {
  width: 2em;
  color: white;
  fill: white; }

#creative-builder-16057909505dfd66e5 .h3 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: -40px; }

#creative-builder-16057909505dfd66e5 h1 {
  margin-bottom: 30px; }

#creative-builder-16057909505dfd66e5 .splide {
  margin-bottom: 50px; }

#creative-builder-16057909505dfd66e5 .splide__arrow {
  width: 60px !important;
  height: 60px;
  right: 1em;
  top: 40%;
  background: #51b37f !important;
  opacity: 1;
  transition: 1s all; }
  #creative-builder-16057909505dfd66e5 .splide__arrow:hover {
    background: #4e4e4e; }

#creative-builder-16057909505dfd66e5 .splide__arrow--prev {
  top: 48%;
  left: 75.6em; }

#creative-builder-16057909505dfd66e5 .splide__arrow--next {
  top: 62%; }

/* -------------------
/  ------- FOOTER
/* ------------------- 
/*/
.payment-link img {
  max-height: 50px; }
